# maximum number of tokens between the two entities
max_tokens_away=6

# minimum number of tokens between the two entities
min_tokens_away=1

# number of tokens to the left and right
context_window_size=2

# parameters for the cosine similarity between the three relationships vector contexts
alpha = 0.0
beta = 1.0
gamma = 0.0

# if Wupdt < 0.5 then BREDS trusts new examples less on each iteration leading to more conservative patterns
wUpdt=0.5

# weight given to unknown relationships extracted seeds i.e., since they are not in the seed set, nothing can be said about them
wUnk=0.0

# weight given to negative seeds, i.e., negative examples of the relationships to be extracted
wNeg=2

# minimum number of patterns that generated a tuple so that tuple can be used in the clustering phase
min_pattern_support=4
