name: Code Checks
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_dev.txt
        python -m nltk.downloader stopwords

    - name: Checking formatting and analysing the code with pylint and flake8
      run: make lint

    - name: Running tests
      run: make test

    - name: Type checking with mypy
      run: mypy --config mypy.ini src